# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnp/
.pnp.js

# Ambiente
.env

# Logs
logs/
*.log

# Diretórios de sistema
.DS_Store
Thumbs.db

# Arquivos temporários
/tmp/
*.tmp
*.swp
*.swo

# Arquivos de configuração específicos de IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Arquivos de build
/build/
/dist/

# Arquivos de dependências de desenvolvimento
package-lock.json
yarn.lock 